.learnify-app-wrapper {
  background-color: transparent;
  min-height: 100vh; /* 保证全屏 */
  padding-top: 10px;
  padding-left: 40px;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}