.learnify-landing-page :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 255);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.learnify-landing-page a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.learnify-landing-page a:hover {
  color: #535bf2;
}


.learnify-landing-page body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.learnify-landing-page h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.learnify-landing-page button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.learnify-landing-page button:hover {
  border-color: #646cff;
}
.learnify-landing-page button:focus,
.learnify-landing-page button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .learnify-landing-page :root {
    color: #213547;
    background-color: transparent;
  }
  .learnify-landing-page a:hover {
    color: #747bff;
  }
  .learnify-landing-page button {
    background-color: #f9f9f9;
  }
}
