.logo.learnify {
    position: fixed;
    will-change: filter;
    transition: filter 300ms;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .title {
    color: #ffffff;
    font-size: 120px;
    line-height: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    padding-left: 80px;
    font-weight: 600;
  }
  
  .description {
    font-size: 20px;
    font-weight: 300;
    font-family: "Kanit", sans-serif;
    line-height: 10px;
    font-weight: 600;
    padding-left: 80px;
  }
  
  .button {
    background-color: #000;
    color: #ffffff;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #3A5BC7;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    margin-top: 30px;
    padding-left: 10px 20px;
    margin-left: 80px;
  }
  
  /* set the style of the word */
  .uoqmunthenkhung-regular {
    font-family: "UoqMunThenKhung", -apple-system, system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Inter", sans-serif;
  
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.8s ease-out;
  }
  
  .fade-in-up.delay-1 {
    animation-delay: 0.2s;
  }
  .fade-in-up.delay-2 {
    animation-delay: 0.4s;
  }
  .fade-in-up.delay-3 {
    animation-delay: 0.6s;
  }
  .fade-in-up.delay-4 {
    animation-delay: 0.8s;
  }
  
  /* shine text */
  .shiny-text {
    color: #b5b5b5a4; /* Adjust this color to change intensity/style */
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: shine 5s linear infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  
  .shiny-text.disabled {
    animation: none;
  }
  
  